.item {
    padding: 14px 18px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25), inset -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
    background: #24272c;
    font-family: Nunito, sans-serif;
}

.checkboxWrapper {
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.checkboxWrapper input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
}

.customCheckbox {
    width: 24px;
    height: 24px;
    background: #1e1f24;
    border-radius: 6px;
    box-shadow: inset 2px 2px 4px #191a1e, inset -2px -2px 4px #2b2f35;
    position: relative;
    cursor: pointer;
}

.checkboxWrapper input:checked + .customCheckbox::after {
    content: '✓';
    color: #0aff99;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    left: 5px;
}

.text {
    font-family: Nunito, sans-serif;
    font-size: 18px;
    color: #0aff99;
    flex: 1;
    cursor: pointer;
}

.input {
    font-family: Nunito, sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 10px;
    padding: 6px 10px;
    width: 520px;
}

.display {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.editBtn {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    margin-right: 10px;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25), inset -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
    background: #24272c;
}

.editBtn:hover {
    border: 2px solid #0aff99;;
}

.deleteBtn {
    border: 2px solid transparent;
    outline: none;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25), inset -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
    background: #24272c;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.deleteBtn:hover {
    border: 2px solid #0aff99;
}





