.app {
    padding: 30px 30px 90px 30px;
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    justify-items: center;
    font-family: Nunito, sans-serif;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25), inset -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
    background: #24272c;
    border-radius: 24px;
}

.items {
    margin-top: 60px;
    /*list-style: none;*/
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 600px;
    font-family: Nunito, sans-serif;
}

.title {
    font-family: Nunito, sans-serif;
    background: linear-gradient(180deg, #2fb8ff 40%, #0aff99 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    margin-bottom: 60px;
}

.controls {
    display: flex;
    gap: 10px;
}

.search {
    padding: 10px 15px;
    border-radius: 12px;
    outline: none;
    border: 2px solid transparent;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    cursor: pointer;
    width: 540px;
    color: #fff;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25), inset -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
    background: #24272c;
}

.search:hover {
    border: 2px solid #0aff99;
}

.sortBtn {
    padding: 10px 14px;
    border-radius: 50px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25), inset -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
    background: #24272c;
}

.sortBtn:hover {
    border: 2px solid #0aff99;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #5ab0ff;
    border-radius: 50%;
    border-left-color: transparent;
    animation: loader 1s infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

