@import "tailwindcss";

@tailwind utilities;

body {
    @apply text-white;
    background: linear-gradient(90deg, #373b44 0%, #73c8a9 100%);
    font-family: Nunito, sans-serif;
}

@keyframes gradient-x {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient-x 5s ease infinite;
}



